@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Poppins";
    font-weight: 400;
    src: url(./assets/fonts/Poppins-Medium.ttf);
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  a {
    @apply underline;
    @apply text-pastelDarkGreen;
    @apply hover:no-underline;
    @apply hover:text-pastelGreen;
  }

  p {
    @apply my-1;
  }

  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="password"] {
    @apply h-12;
    @apply w-60;
    @apply border-2;
    @apply border-black;
    @apply p-2;
    @apply focus:outline-none;
    @apply hover:border-2;
    @apply hover:border-gray-800;
  }

  input.invalid {
    @apply border-2;
    @apply border-red-600;
    @apply bg-red-100;
  }

  h2.page-heading {
    @apply text-4xl;
    @apply mb-4
  }
}
